<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Current Weather</h1>
    <p>temperature: <%= CWeather.main.temp%>°C</p>
    <p>weather: <%= CWeather.weather[0].description%></p>
</body>
</html>
