<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast</title>
</head>
<body>
    <h1>5-day forecast:</h1>
    <% Forecast.list.forEach(forecast=>{ %>
        <p>Date: <%= forecast.dt_txt%></p>
        <p>Temperature: <%= forecast.main.temp  %></p>
        <p>Weather: <%= forecast.weather[0].description  %></p>
   <% })%>
    
</body>
</html>

