<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <h1>Welcome to the Weather App</h1>
        <p>Get the current weather and 5-day forecast for any location.</p>
    </header>
    <form method="post">
        <div class="latlon">
        <input id="lat" type="text" name="lat" placeholder="Enter latitude">
        <input  type="text" name="lon" placeholder="Enter longitude">
        </div>
        <div class="buttons">
        <input type="submit" value="Current Weather" formaction="/current_weather">
        <input type="submit" value="Forecast" formaction="/forecast">
        </div>
    </form>

            <p> Visit <a href="https://www.google.com/maps" target="_blank"> Google maps </a> to find your coordinates.</p>


</body>
</html>